<img src="assets/img/banner.jpg" class="img-fluid" alt="Responsive image">

<br>
<br>

<hr>

<div class="container md-5">
    <div class="jumbotron">
        <h1 class="display-5">¡Bienvenido!</h1>
        <p class="lead">¿Te gustaría que te envíaramos noticias acerca de las últimas novedades del mundo de los Cómics?
        </p>
        <hr class="my-2">
        <p>Puedes registrarte en nuestro boletín mensual, y recibirás información de último momento, descuentos, regalos
            y muchas sorpresas más.</p>
        <a class="btn btn-danger btn-lg" [routerLink]="['/newsletter']" role="button">Suscribirse</a>
    </div>
</div>

<hr>

<br>

<div class="container text-center"><h4>Cómics <small>Disponibles</small></h4></div>

<br>


<div class="container">

    <div class="row row-cols-5 row-cols-md-5">
        <div class="col mb-4">
            <div class="card">
                <img src="assets/img/cover1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Superman</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="assets/img/cover2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Batman</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="assets/img/cover3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Batman</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="assets/img/cover4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Batman</h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="assets/img/cover5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Spider-man</h5>
                </div>
            </div>
        </div>
    </div>

</div>

<hr>

<br>

<div class="container text-center"><h4>Noticias <small>Destacadas</small></h4></div>

<br>

<div class="container">

    <div class="card mb-3" style="max-width: 840px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/img/new1.webp" width="800px" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Bad Bunny en el Universo Marvel</h5>
              <p class="card-text">Bad Bunny hará la película de El Muerto, inspirada en el personaje de Marvel Comics. Sony Pictures Entertainment confirmó el proyecto hace unas semanas.</p>
              <p class="card-text"><small class="text-muted">Hace dos días.</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 840px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/img/new2.jpg" width="800px" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">¿Quienes son los illuminati?</h5>
              <p class="card-text">Una versión cinematográfica del mismo grupo en los cómics. Se trata de un concilio secreto formado por las mentes más brillantes y líderes del Universo Marvel.</p>
              <p class="card-text"><small class="text-muted">Hace 1 día.</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 840px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/img/new3.jpg" width="800px" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Multiverso</h5>
              <p class="card-text">Dentro de Marvel Comics, la mayoría de los cuentos tienen lugar dentro del Universo Marvel ficticio, que a su vez es parte de un multiverso más grande.</p>
              <p class="card-text"><small class="text-muted">Hace 6 días.</small></p>
            </div>
          </div>
        </div>
      </div>

</div>

<br>