<img src="assets/img/banner3.jpg" class="img-fluid" alt="Responsive image">

<br>

<br>

<div class="container-sm">
    <h3><img src="assets/img/nuevo-usuario.png" width="32"><small> Registro de</small> Newsletters.</h3>
    <hr>

    <p><small>Los campos * son obligatorios.</small></p>
    
</div>

<form [formGroup]="forma" (ngSubmit)="guardarCambios()" class="needs-validation">
    <div class="container">
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre"
                    [ngClass]="{'is-invalid':!forma.get('nombre')?.valid}">
                <div *ngIf="forma.controls['nombre'].errors?.['required']" class="invalidfeedback">
                    <small>(*) El nombre es obligatorio.</small>
                </div>
                <div *ngIf="forma.controls['nombre'].errors?.['minlength']" class="invalid-feedback">
                    <small>(*) Ingresa por favor al menos 3 carácteres.</small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Correo</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Correo electronico"
                    [ngClass]="{'is-invalid':!forma.get('correo')?.valid }" formControlName="correo">
                <div *ngIf="forma.controls['correo'].errors?.['required']" class="invalidfeedback">
                    <small>(*) El correo electrónico es obligatorio.</small>
                </div>
                <div *ngIf="forma.controls['correo'].errors?.['email']" class="invalid-feedback">
                    <small>(*) Verifica el formato de tu correo electrónico. (ejemplo@comics.com)</small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Fecha de Nacimiento</label>
            <div class="col-8">
                <input class="form-control" type="date" placeholder="(dd/mm/aaaa)"
                    [ngClass]="{'is-invalid':!forma.get('fecha')?.valid }" formControlName="fecha">
                <div *ngIf="forma.controls['fecha'].errors?.['required']" class="invalidfeedback">
                   <small>(*) La fecha de nacimiento es obligatoria.</small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Genero</label>
            <div class="col-8">
                <input class="form-control" list="sexo" placeholder=""
                    [ngClass]="{'is-invalid':!forma.get('sexo')?.valid }" formControlName="sexo">

                <datalist id="sexo">
                    <option value="Hombre">
                    <option value="Mujer">
                </datalist>

                <div *ngIf="forma.controls['sexo'].errors?.['required']" class="invalidfeedback">
                   <small>(*) El genero es obligatorio.</small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button [disabled]="forma.invalid" type="submit" class="btn btn-outline-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</form>
