<img src="../../../assets/img/banner3.jpg" class="img-fluid" alt="Responsive image">

<br>

<br>

<div class="container-sm">
    <h3><img src="../../../assets/img/nuevo-usuario.png" width="32"><small> Registro de</small> Newsletters.</h3>
    <hr>

    <p><small>Los campos * son obligatorios.</small></p>

    <form>
        <div class="container">

            <div class="form-group row">
                <label class="col-2 col-form-label">Nombre (*)</label>
                <div class="col-8">
                    <input class="form-control" type="text" placeholder="Nombre" id="nombre" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Sexo (*)</label>
                <div class="col-8">

                    <label><input type="radio" name="sexo" value="hombre" required> Hombre</label><br>
                    <label><input type="radio" name="sexo" value="mujer"> Mujer</label><br>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Nacimiento (*)</label>
                <div class="col-8">
                    <input type="date" name="" id="fechaNacimiento" required>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Correo (*)</label>
                <div class="col-8">
                    <input class="form-control" type="text" placeholder="Correo electronico" id="correo" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-5 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                    <button type="button" id="boton" onclick="agregar()" class="btn btn-outline-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>

    </form>

</div>
