<img src="assets/img/banner2.png" class="img-fluid" alt="Responsive image">

<br>
<br>

<div class="container">
    <h2 class="text-center"><img src="assets/img/pregunta.png" alt="" srcset=""> ¿Sabes que es lo que se necesita para poder realizar un cómic?</h2>
    <p class="text-center">A continuación de dejamos un vídeo explicativo, que te mostrará las principales características de un cómic. ¡Qué lo disfrutes!</p>
    <hr>
</div>

<div class="container text-center">
    <iframe width="860" height="415" [src]="video | videoSecure:'https://www.youtube.com/embed/' " frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br>
