<div class="container">
    
    <br>
    <div class="container text-center"><h4>Descargas <small>Disponibles</small></h4></div>
    <hr>
    
    <div class="container">
    
        <div class="row row-cols-5 row-cols-md-5">
            <div class="col mb-4">
                <div class="card">
                    <img src="assets/img/cover1.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Superman</h5>
                        <a href="assets/docs/cover1.pdf" class="btn btn-success" target="_blank" download="cover1.pdf">Descargar <img src="assets/img/down-arrow.png" height="20px" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="assets/img/cover2.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Batman</h5>
                        <a href="assets/docs/cover2.pdf" class="btn btn-success" target="_blank" download="cover2.pdf">Descargar <img src="assets/img/down-arrow.png" height="20px" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="assets/img/cover3.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">Batman</h5>
                        <a href="assets/docs/cover3.pdf" class="btn btn-success" target="_blank" download="cover3.pdf">Descargar <img src="assets/img/down-arrow.png" height="20px" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="assets/img/cover4.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">Batman</h5>
                        <a href="assets/docs/cover4.pdf" class="btn btn-success" target="_blank" download="cover4.pdf">Descargar <img src="assets/img/down-arrow.png" height="20px" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="assets/img/cover5.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center">Spider-man</h5>
                        <a href="assets/docs/cover5.pdf" class="btn btn-success" target="_blank" download="cover5.pdf">Descargar <img src="assets/img/down-arrow.png" height="20px" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    </div>
    
    